*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-size: 40px;
  text-align: center;
}
.slider{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  .next_arr{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(0 , -50%);
    font-size: 30px;
    border: 2px solid;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
    transition : 0.5s all ease-in-out;
    &:hover{
      background-color: white;
      color: black;
    }

  }
  .prev_arr{
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0 , -50%);
    font-size: 30px;
    border: 2px solid;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
    transition : 0.5s all ease-in-out;
    &:hover{
      background-color: white;
      color: black;
    }
  }
  .content{
    max-width: 300px;
    height:250px ;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media screen and (max-width:650px) {
.slider .next_arr {
  left: 0px;
  font-size: 20px;
}
.slider .prev_arr {
  right: 0px;
  font-size: 20px;

}
}
